@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-size: 30px;
  margin: 200px;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  position: relative;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

body h1 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 40px;
  margin: auto;
  text-align: center;
}

body h3 {
  font-size: 24px;
  text-align: center;
}

body h4 {
  font-size: 18px;
  font-weight: 400;
}

body p {
  margin: 15px 5px;
  font-size: 22px;
}

body ol {
  margin: 10px 0 10px 45px;
}

body ul {
  margin: 10px 0 10px 20px;
}

body li {
  font-size: 22px;
  height: 26px;
  margin: auto;
}

body span {
  color: coral;
  font-size: 22px;
  font-weight: 700;
}

.conteiner {
  background-color: antiquewhite;
  margin-top: 45px;
  margin-left: 45px;
  max-width: 1400px;
}

.content__title {
  background-color: aqua;
  border: solid 5px greenyellow;
  width: auto;
}

.content__geolocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #63d3a4;
}

.content__to-do {
  border: solid 5px darkorange;
}

.content__abzac {
  margin-top: 10px;
}

.content__text {
  border: solid 3px gold;
}

.content__remark {
  border: solid 4px red;
}

.content__photo {
  border: #d3e195;
}

.content__equipment {
  background-color: darkgoldenrod;
}

.content__test {
  background-color: greenyellow;
}

.content__summary {
  background-color: fuchsia;
}

footer input {
  margin: 50px;
  font-size: 16px;
  color: white;
  background-color: grey;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.gallery {
  position: relative;
  padding: 45px 0;
}

h3.title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 45px;
  position: relative;
}

h3.title:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #111111;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  margin-top: 30px;
}

.gallery-item {
  display: block;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  overflow: hidden;
  position: relative;
}

.gallery-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  z-index: 2;
}

.gallery-item:hover .gallery-item-hover {
  opacity: 1;
}

.gallery-item:hover img {
  -webkit-transform: scale(1.5) rotate(5deg);
          transform: scale(1.5) rotate(5deg);
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 991px) {
  .gallery-item {
    -webkit-box-flex: 33.3%;
        -ms-flex: 33.3%;
            flex: 33.3%;
  }
}

@media (max-width: 768px) {
  .gallery-item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media (max-width: 530px) {
  .gallery-item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

a {
  margin: 10px;
}
